<?xml version="1.0" encoding="UTF-8"?>

<included>
    <!-- 
        class, method, file, and line are not fast. 
        Thus, its use should be avoided unless execution speed is not an issue.  
    -->

    <!-- Console Logging in System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
 		<encoder>
            <pattern>${SIMPLE_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- Console Logging in System.err -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Logging -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_HOME:-log}/default.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily --> 
            <fileNamePattern>${LOG_FILE_HOME:-log}/default.%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 압축을 할경우 .zip 추가 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
                <!-- or whenever the file size reaches 10MB --> 
                <maxFileSize>10MB</maxFileSize> 
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history --> 
            <maxHistory>30</maxHistory> 
        </rollingPolicy>
        <encoder>
        	<charset>EUC-KR</charset>
            <pattern>${DEFAULT_PATTERN_FOR_FILE}</pattern>
        </encoder>
    </appender>
</included>
